%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .form-group.row
    = f.label :first_name, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :first_name, class: "form-control"
  .form-group.row
    = f.label :last_name, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :last_name, class: "form-control"
  %fieldset.form-group
    %legend Gender
    .field
      - User.genders.keys.each do |gender|
        = f.radio_button :gender, gender
        = f.label gender.to_sym

  .form-group.row
    = f.label :date_of_birth, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.date_select :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 100, class: "form-control dropdown.open"
  -# .dropdown.open
  -# %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
  -#   Dropdown button
  -# .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
  -#   %a.dropdown-item{:href => "#"} Action
  -#   %a.dropdown-item{:href => "#"} Another action
  -#   %a.dropdown-item{:href => "#"} Something else here

  .field
    %br/
    = f.label :date_of_birth
    %br/
    = f.date_select :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 100
  .form-group.row
    = f.label :profession, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :profession, class: "form-control"
  .form-group.row
    = f.label :description, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :description, class: "form-control"
  .form-group.row
    = f.label :work_experience, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :work_experience, class: "form-control"
  .form-group.row
    = f.label :current_location, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.text_field :current_location, class: "form-control"
  .field
    %br/
    = f.label :vehicle
    = f.check_box :vehicle
    %br/
  .field
    = f.label :available_for_work
    = f.check_box :available_for_work
    %br/
    %br/
  .form-group.row
    = f.label :email, class: "col-xs-3 col-form-label"
    .col-xs-9
      = f.email_field :email, class: "form-control"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group.row
        = f.label :password, class: "col-xs-3 col-form-label"
        %i (leave blank if you don't want to change it)
        %br/
        .col-xs-9
          = f.text_field :password, autocomplete: "off", class: "form-control"
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum

  -# .field
  -#   = f.label :password
  -#   %i (leave blank if you don't want to change it)
  -#   %br/
  -#   = f.password_field :password,
  -#   - if @minimum_password_length
  -#     %br/
  -#     %em
  -#       = @minimum_password_length
  -#       characters minimum
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    %br/
    = f.submit "Update"
    %br/
    %br/
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
