%p#notice= notice
%br


%h3= @company.company_name
%br

%p= @company.description

%p= @company.location

= link_to 'Edit', edit_company_path(@company)
%br

- if can? :create, @company.activities
  = link_to "New Activity", new_company_activity_path(@company)
  %br
- @company.activities.each do |activity|
  = activity.activity_name
  = link_to "edit", edit_company_activity_path(@company, activity)
  = link_to "view", company_activity_path(@company, activity)
  -# = link_to "edit #{activity.activity_name}", edit_company_activity_path(@company, activity)
  -# = link_to "view #{activity.activity_name}", company_activity_path(@company, activity)
  %br


|
= link_to 'Back', companies_path
